In [10]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
# to show plots inside jupyter
%matplotlib inline

In [11]:
titanic_data = pd.read_csv('./KNN Implementation/data_cleaned.csv')
titanic_data.head(5)

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [13]:
# separating independent and dependent variables 
titanic_x = titanic_data.drop(['Survived'], axis=1)
titanic_y = titanic_data['Survived']
titanic_x.shape, titanic_y.shape

((891, 24), (891,))

In [17]:
# scaling variable to the same scale 
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
titanic_x_scaled = scaler.fit_transform(titanic_x)

In [21]:
titanic_x_scaled = pd.DataFrame(titanic_x_scaled, columns=titanic_x.columns)
titanic_x_scaled.head(5)

,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,SibSp_2,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0.271174,0.014151,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.472229,0.139136,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.321438,0.015469,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.434531,0.103644,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.434531,0.015713,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [23]:
# split data into test/train datasets 
from sklearn.model_selection import train_test_split
# stratify=y means that distribution in train and test data is equal 
titanic_train_x, titanic_test_x, titanic_train_y, titanic_test_y = train_test_split(titanic_x_scaled, titanic_y, random_state=56, stratify=titanic_y)

In [24]:
from sklearn.neighbors import KNeighborsClassifier as KNN 
from sklearn.metrics import f1_score

In [28]:
titanic_clf = KNN(n_neighbors=10)
# fitting the model 
titanic_clf.fit(titanic_train_x, titanic_train_y)

titanic_test_predict = titanic_clf.predict(titanic_test_x)
titanic_f1 = f1_score(titanic_test_predict, titanic_test_y)
print(f"Titanic Test F1 Score: {titanic_f1}")

Titanic Test F1 Score: 0.6956521739130435

In [33]:
def elbow(k, step=1, train_x, train_y, test_x, test_y):
    # k - max value of neighbours 
    test_error = [] 

    # training model for every value of K 
    for i in range(1, k, step): 
        clf = KNN(n_neighbors=i)
        clf.fit(train_x, train_y)

        tmp = clf.predict(test_x)
        err = 1 - f1_score(tmp, test_y)
        test_error.append(err)
    return test_error

SyntaxError: non-default argument follows default argument (<ipython-input-33-c2438109bf9e>, line 1)

In [ ]:
test = elbow(20)

In [2]:
def knn(data, query, k, choice_fn):
    neighbor_distances_and_indices = []
    
    # 3. For each example in the data
    for index, example in enumerate(data):
        # 3.1 Calculate the distance between the query example and the current
        # example from the data.
        # get the last value - because it is weight 
        distance = spatial.distance.euclidean(example[0], query)
        # 3.2 Add the distance and the index of the example to an ordered collection
        neighbor_distances_and_indices.append((distance, index))
    # 4. Sort the ordered collection of distances and indices from
    # smallest to largest (in ascending order) by the distances
    sorted_neighbor_distances_and_indices = sorted(neighbor_distances_and_indices)
    # 5. Pick the first K entries from the sorted collection
    k_nearest_distances_and_indices = sorted_neighbor_distances_and_indices[:k]
    # 6. Get the labels of the selected K entries
    # get weight values 
    k_nearest_labels = [data[i][1] for distance, i in k_nearest_distances_and_indices]

    # 7. If regression (choice_fn = mean), return the average of the K labels
    # 8. If classification (choice_fn = mode), return the mode of the K labels
    return k_nearest_distances_and_indices , choice_fn(k_nearest_labels)

In [3]:
'''
# Regression Data
# 
# Column 0: height (inches)
# Column 1: weight (pounds)
'''
reg_data = [
    [65.75, 112.99],
    [71.52, 136.49],
    [69.40, 153.03],
    [68.22, 142.34],
    [67.79, 144.30],
    [68.70, 123.30],
    [69.80, 141.49],
    [70.01, 136.46],
    [67.90, 112.37],
    [66.49, 127.45],
]

# Question:
# Given the data we have, what's the best-guess at someone's weight if they are 60 inches tall?
reg_query = [60]
reg_k_nearest_neighbors, reg_prediction = knn(
    reg_data, reg_query, k=4, choice_fn=np.mean
)

print(f"Height: {reg_query[0]}, Prediction: {reg_prediction}")

Height: 60, Prediction: 124.2775

In [4]:
import statistics 

'''
# Classification Data
# 
# Column 0: age
# Column 1: likes pineapple
'''
clf_data = [
    [22, 1],
    [23, 1],
    [21, 1],
    [18, 1],
    [19, 1],
    [25, 0],
    [27, 0],
    [29, 0],
    [31, 0],
    [45, 0],
]
# Question:
# Given the data we have, does a 33 year old like pineapples on their pizza?
clf_query = [33]
clf_k_nearest_neighbors, clf_prediction = knn(
    clf_data, clf_query, k=3, choice_fn=statistics.mode
)
print(f"Does a {clf_query[0]} y.o. like pineapples?\t{'Yes' if clf_prediction else 'No'}")

Does a 33 y.o. like pineapples?	No

In [5]:
# movie recommendation system 
ratings = pd.read_csv('./IMDb/title.ratings.tsv', sep='\t')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1656
1  tt0000002            6.1       201
2  tt0000003            6.5      1369
3  tt0000004            6.2       122
4  tt0000005            6.2      2151

In [6]:
basic = pd.read_csv('./IMDb/title.basics.tsv', sep='\t')
basic.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [7]:
genres = basic[:5].genres.str.get_dummies()
genres.head(5)

KeyboardInterrupt:

In [ ]:
basic_cut = pd.DataFrame([basic['originalTitle'], 
data = pd.concat()